{
  "port": 9001,
  "alarmEnabled": true,
  "alarmDevices": [
    {
      "deviceId": 1
    }
  ],
  "nma": {
    "enabled": false,
    "apiKey": "deadc0de"
  },
  "email": {
    "enabled": false,
    "emailAddress": "example@example.com",
    "nodemailerConfig": {
      "service": "Gmail",
      "auth": {
        "user": "user@gmail.com",
        "pass": "password"
      }
    }
  },
  "suppressScript": ""
}
